* {
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    background: #1e293b;
    padding: 20px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000060;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    width: 100%;
    margin-top: 15px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background: #334155;
}
